# Function Practice Exercises

Problems are arranged in increasing difficulty:

### LESSER OF TWO EVENS
Write a function that:
* returns the lesser of two given numbers *if* both numbers are even, 
* returns the greater if one or both numbers are odd 


    lesser_of_two_evens(2,4) --> 2  
    lesser_of_two_evens(2,5) --> 5

In [6]:
def lesser_of_two_evens(a,b):
    if(a%2==0 and b%2==0):
        return min(a,b)
    else:
        return max(a,b)

In [7]:
# Check
lesser_of_two_evens(2,4)

2

In [8]:
# Check
lesser_of_two_evens(2,5)

5

### ANIMAL CRACKERS
Write a function takes a two-word string and returns
* True if both words begin with same letter
* False otherwise


    animal_crackers('Levelheaded Llama') --> True  
    animal_crackers('Crazy Kangaroo') --> False

In [19]:
def animal_crackers(text):
    splited=text.split()
    if(splited[0][0]==splited[1][0]):
        return True
    else:
        return False

In [20]:
# Check
animal_crackers('Levelheaded llama')

False

In [18]:
# Check
animal_crackers('Crazy Kangaroo')

False

### MAKES TWENTY
Given two integers, return:
* True if the sum of the integers is 20 *or* if one of the integers is 20. 
* False otherwise

    makes_twenty(20,10) --> True  
    makes_twenty(12,8) --> True  
    makes_twenty(2,3) --> False

In [44]:
def makes_twenty(n1,n2):
    xd=n1+n2
    if(xd==20 or n1==20 or n2==20):
        return True
    else:
        return False

In [45]:
# Check
makes_twenty(20,10)

True

In [47]:
# Check
makes_twenty(19,1)

True

### OLD MACDONALD
Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
(Note: `'macdonald'.capitalize()` returns `'Macdonald'`)

In [69]:
def old_macdonald(name):
    return name[3].upper()

In [70]:
# Check
old_macdonald('macdonald')

'D'

### MASTER YODA
Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'  
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [90]:
def master_yoda(text):
    table_strings=text.split()
    table_strings_reversed=table_strings[::-1]
    return " ".join(table_strings_reversed)

In [91]:
# Check
master_yoda('I am home')

'home am I'

In [92]:
# Check
master_yoda('We are ready')

'ready are We'

### ALMOST THERE
Given an integer n, return: 
* True if n is within 10 of either 100 or 200
* False,  otherwise 

    almost_there(90) --> True  
    almost_there(104) --> True  
    almost_there(150) --> False  
    almost_there(209) --> True
    
(NOTE: `abs(num)` returns the absolute value of a number)

In [94]:
def almost_there(n):
      return (abs(n-100)<=10 or (abs(n-200)<=10))

In [95]:
# Check
almost_there(104)

True

In [96]:
# Check
almost_there(150)

False

In [99]:
# Check
almost_there(211)

False

### FIND 33: 

Given a list of integers, return 
* True if the list contains a 3 next to a 3 somewhere,
* False, otherwise

    has_33([1, 3, 3]) → True  
    has_33([1, 3, 1, 3]) → False  
    has_33([3, 1, 3]) → False

In [180]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if(nums[i]==3 and nums[i+1]==3):
            return True
    return False

In [181]:
# Check
has_33([1, 3, 3])

True

In [182]:
# Check
has_33([1, 3, 1, 3])

False

In [183]:
# Check
has_33([3, 1, 3, 2, 3, 1, 3, 2, 3, 1,1])

False

### PAPER DOLL
Given a string, return a string where for every character in the original there are three characters  

    paper_doll('Hello') --> 'HHHeeellllllooo'  
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [187]:
def paper_doll(text):
    new_str=""
    for i in range(len(text)):
        new_str+=3*text[i]
    return new_str

In [188]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [189]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

### BLACKJACK
Given three integers between 1 and 11, return:
* their sum → if their sum is less than or equal to 21,  
* reduce the total sum by 10 → if their sum exceeds 21 *and* there's an eleven,  
* word 'BUST' → if the sum <font color='red'>(even after adjustment)</font> exceeds 21.  

    blackjack(5,6,7) --> 18  
    blackjack(9,9,9) --> 'BUST'  
    blackjack(9,9,11) --> 19

In [226]:
def blackjack(a,b,c):
    size=a+b+c
    if(size<=21):
        return size
    if(size>21 and 11 in(a,b,c)):
        size-=10
        return size
    else:
        return "BUST"

In [230]:
# Check
blackjack(5,6,7)

18

In [231]:
# Check
blackjack(9,9,9)

'BUST'

In [232]:
# Check
blackjack(11,9,9)

19

### SUMMER OF '69
Given the list of numbers, return the sum of the numbers:
* <font color='red'>except:</font> ignore sections of numbers starting with numbers 6 and ending with 9 inclusive (every 6 will be followed by at least one 9)  
* 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9  
    summer_69([4, 5, <font color='red'>6, 7, 8, 9</font>]) --> 9  
    summer_69([2, 1, <font color='red'>6, 9</font>, 11]) --> 14

In [242]:
def summer_69(arr):
    suma=0
    for i in range(0,len(arr)):
        if(arr[i] in (6,7,8,9)):
            pass
        else:
            suma+=arr[i]
        
    return suma

In [243]:
# Check
summer_69([1, 3, 5])

9

In [244]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [245]:
# Check
summer_69([2, 1, 6, 9, 11])

14

### SPY GAME
Write a function that takes in a list of integers and returns:
* True if it contains integers: 0,0,7 not necessarily next to each other, but in order  
* False, otherwise.  

     spy_game([1,2,4,0,0,7,5]) --> True  
     spy_game([1,0,2,4,0,5,7]) --> True  
     spy_game([1,7,2,0,4,5,0]) --> False

In [251]:
def spy_game(nums):
    flaga=0
    for i in range(0, len(nums)):
        if(nums[i]==0):
            flaga+=1
        if(nums[i]==7 and flaga==2):
            return True
        if(nums[i]==7 and flaga<2):
            flaga=0
    return False

In [252]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [256]:
# Check
spy_game([1,0,7,4,0,0,7])

True

In [254]:
# Check
spy_game([1,7,2,0,4,5,0])

False

### COUNT PRIMES
Write a function that returns the *number* of prime numbers that exist up to and including a given number  

    count_primes(100) --> 25

(By convention, 0 and 1 are not prime.)

In [322]:
def count_primes(num):
    count=0
    flags=1
    for i in range(3,num+1):
            for a in range(3,i):
                if(i%a==0):
                    flags=0
                    break
                flags=1
            if(flags==1):
                count+=1
    return count

In [324]:
# Check
count_primes(100)

25

-----
# Just for fun
Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *

(HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".)

In [368]:
def print_big(letter):
    my_dict={1:"  *  ", 2:" * * ", 3: "*****", 4:"*   *"}
    if(letter=="a"):
        for i in (1,2,3,4,4):
            print(my_dict[i])
            
    elif(letter=="0"):
        for i in (3,4,4,4,4,3):
            print(my_dict[i])

In [369]:
print_big('0')

*****
*   *
*   *
*   *
*   *
*****

In [384]:
def is_pangram(my_string): 
    my_alphabet = "aąbcćdeęfghijklłmnoóprsśtuwyzźż"
    my_list=[]
    for character in my_alphabet: 
        if character not in my_string.lower(): 
            my_list.append(character)
        
  
    return my_list

In [414]:
# Wywolanie funkcji
is_pangram('Obć gróźb fuzją, klnę, pych i małżeństw')

['d', 'ś']

In [413]:
def yoda_translator(nazwa_pliku):
    yoda_text=""
    f=open(nazwa_pliku, "r")
    new_name=nazwa_pliku[0:-3]+"yda"
    fl =f.readlines()
    for x in fl:
        yoda_text=x
    table_strings=yoda_text.split()
    table_strings_reversed=table_strings[::-1]
    outF = open(new_name, "w")
    outF.write(" ".join(table_strings_reversed))
    outF.close()
    f.close()

In [412]:
yoda_translator("kubuspuchatek.txt")